* {
  font-family: "Kanit", sans-serif;
}

body {
  margin: auto;
  width: 100%;
}

main {
  width: 70%;
  margin: auto;
}
@media (max-width: 1200px) {
  main {
    width: 80%;
    padding: 0;
  }
}
@media (max-width: 800px) {
  main {
    width: 85%;
    padding: 0;
  }
}
@media (max-width: 620px) {
  main {
    width: 90%;
    padding: 0;
  }
}

section {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  height: -moz-fit-content;
  height: fit-content;
}

h3 {
  color: #a94676;
  font-family: "Oxanium", sans-serif;
  font-size: 32px;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 730px) {
  h3 {
    font-size: 26px;
  }
}
@media (max-width: 525px) {
  h3 {
    font-size: 22px;
  }
}
h3.active::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #a94676;
  position: absolute;
  display: block;
  top: -8px;
  animation: topLine 0.8s ease-in-out 2 forwards;
}
@keyframes topLine {
  0% {
    transform: scaleX(0);
    transform-origin: right;
  }
  49% {
    transform: scaleX(1);
    transform-origin: right;
  }
  50% {
    transform-origin: left;
  }
  51% {
    transform: scaleX(1);
    transform-origin: left;
  }
  100% {
    transform: scaleX(0);
    transform-origin: left;
  }
}
h3.active::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #a94676;
  position: absolute;
  display: block;
  animation: botLine 0.8s ease-in-out 2 forwards;
}
@keyframes botLine {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  49% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50% {
    transform-origin: right;
  }
  51% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

h4 {
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  color: #b2bcff;
}

h5 {
  margin: 0;
  color: #71020c;
}

h6 {
  margin: 0;
  color: #a94676;
}

#gallery {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 80px;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
#gallery a {
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 82px;
  color: #b2bcff;
  background-color: #71020c;
  text-shadow: 3px 3px 10px #a94676;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: 3px 3px 10px 0 rgba(113, 2, 12, 0.4);
}
@media (max-width: 1100px) {
  #gallery a {
    left: 50%;
    transform: translateX(-50%);
    top: 110px;
    right: inherit;
  }
}
@media (max-width: 520px) {
  #gallery a {
    top: 100px;
  }
}
@media (max-width: 380px) {
  #gallery a {
    width: 40%;
    text-align: center;
  }
}
#gallery a:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
  box-shadow: 3px 3px 10px 0 rgba(113, 2, 12, 0.6);
}
@media (max-width: 1100px) {
  #gallery a:hover {
    transform: translate(-50%);
  }
}
#gallery a:not(:hover) {
  transition: 0.1s;
}
@media (max-width: 1100px) {
  #gallery {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#gallery #projects-gallery {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
@media (max-width: 1000px) {
  #gallery #projects-gallery {
    gap: 40px;
  }
}
@media (max-width: 800px) {
  #gallery #projects-gallery {
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 500px) {
  #gallery #projects-gallery {
    gap: 20px;
  }
}
#gallery #projects-gallery article {
  width: 600px;
  height: 70%;
}
@media (max-width: 900px) {
  #gallery #projects-gallery article {
    width: 500px;
  }
}
@media (max-width: 800px) {
  #gallery #projects-gallery article {
    width: 400px;
    height: 60%;
  }
}
@media (max-width: 600px) {
  #gallery #projects-gallery article {
    width: 350px;
  }
}
@media (max-width: 500px) {
  #gallery #projects-gallery article {
    height: 300px;
    width: 270px;
  }
}
@media (max-width: 420px) {
  #gallery #projects-gallery article {
    height: 250px;
    width: 200px;
    gap: 10px;
  }
}
#gallery #projects-gallery i {
  font-size: 64px;
  width: 50px;
  height: -moz-fit-content;
  height: fit-content;
  color: #71020c;
}
@media (max-width: 600px) {
  #gallery #projects-gallery i {
    font-size: 52px;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 500px) {
  #gallery #projects-gallery i {
    font-size: 40px;
  }
}
#gallery #projects-gallery i:hover {
  cursor: pointer;
  color: #b2bcff;
  transform: scale(1.1);
  transition: 0.1s ease-in-out;
  text-shadow: 3px 3px 3px rgba(113, 2, 12, 0.4);
}
#gallery #projects-gallery i:not(:hover) {
  transition: 0.1s ease-in-out;
}
#gallery::after {
  content: "";
  background-color: #a94676;
  width: 40%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: 30%;
  box-shadow: 2px 2px 10px 0 rgba(113, 2, 12, 0.5);
  border-radius: 5px;
}/*# sourceMappingURL=gallery.css.map */