@import '../index';

#presentation {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	// background-color: $venetian-red;
	border-radius: 25px;
	padding: 50px 100px;
	position: relative;
	box-sizing: border-box;
	@media (max-width: 1100px) {
		gap: 30px;
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url('../../theds3.JPG');
		background-size: cover;
		background-position: 0 100%;
		background-repeat: no-repeat;
		filter: brightness(0.5); /* Filtre uniquement pour le pseudo-élément */
		border-radius: 25px;
		box-shadow: 0px 0px 15px 3px rgba($color: $venetian-red, $alpha: 0.2);
	}
	&::after {
		content: '';
		background-color: $contrast-red;
		width: 40%;
		height: 2px;
		position: absolute;
		bottom: -50px;
		left: 30%;
		box-shadow: 2px 2px 10px 0 rgba($color: $venetian-red, $alpha: 0.5);
		border-radius: 5px;
	}
	@media (max-width: 1100px) {
		flex-direction: column;
		align-items: center;
	}

	@media (max-width: 600px) {
		padding: 30px 15px;
	}

	& h3 {
		position: relative;
		margin-bottom: 50px;
		z-index: 10;
		@media (max-width: 1100px) {
			margin: 25px 0 25px 0;
		}
		& #testo {
			position: absolute;
			width: 220%;
			left: -100%;
			height: 180%;
			top: -50%;
			z-index: -10;
			background-color: white;
			border-radius: 0 25px 25px 0;
			box-shadow: 40px 05px 15px 0px rgba($color: #000000, $alpha: 0.1);
			@media (max-width: 1100px) {
				border-radius: 25px;
				left: -100%;
				width: 300%;
			}
		}
	}

	& #presentation-core {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 6%;
		position: relative;
		padding-bottom: 100px;
		width: 100%;
		@media (max-width: 1100px) {
			column-gap: 0;
			justify-content: space-around;
			flex-wrap: wrap;
			padding-bottom: 30px;
		}
		@media (max-width: 760px) {
			column-gap: 0;
			justify-content: space-around;
			flex-wrap: wrap;
			padding-bottom: 10px;
		}

		& img {
			width: 250px;
			height: fit-content;
			background-color: white;
			border-radius: 25px;
			box-shadow: 10px 10px 10px 3px rgba($color: $venetian-red, $alpha: 0.1);

			@media (max-width: 1100px) {
				width: fit-content;
				height: 150px;
				margin-bottom: 30px;
			}
		}
		& p {
			position: relative;
			flex-wrap: wrap;
			width: 70%;
			height: fit-content;
			padding-left: 10%;
			box-sizing: border-box;
			color: $blue;
			text-shadow: 3px 3px 0 rgba($color: $contrast-red, $alpha: 0.2);
			text-align: center;
			text-align: end;
			// background-color: rgba($color: black, $alpha: 0.8);
			border-radius: 25px;
			padding: 20px;

			&::before {
				content: '';
				background-color: $contrast-red;
				width: 5px;
				height: 65%;
				position: absolute;
				right: -3%;
				bottom: -10%;
				box-shadow: 3px 3px 10px 0 rgba($color: $blue, $alpha: 0.2);
				border-radius: 5px;
			}
			&::after {
				content: '';
				background-color: $contrast-red;
				width: 65%;
				height: 5px;
				position: absolute;
				right: -3%;
				bottom: -10%;
				box-shadow: 3px 3px 10px 0 rgba($color: $blue, $alpha: 0.2);
				border-radius: 5px;
			}

			@media (max-width: 1100px) {
				height: 100%;
				width: 450px;

				&::before {
					content: '';
					display: none;
				}
				&::after {
					content: '';
					display: none;
				}
			}
			@media (max-width: 1000px) {
				text-align: center;
				width: 100%;
			}

			@media (max-width: 760px) {
				font-size: 14px;
			}
			@media (max-width: 600px) {
				width: 100%;
			}
		}
	}

	& svg {
		margin: auto;
	}
}
