@charset "UTF-8";
* {
  font-family: "Kanit", sans-serif;
}

body {
  margin: auto;
  width: 100%;
}

main {
  width: 70%;
  margin: auto;
}
@media (max-width: 1200px) {
  main {
    width: 80%;
    padding: 0;
  }
}
@media (max-width: 800px) {
  main {
    width: 85%;
    padding: 0;
  }
}
@media (max-width: 620px) {
  main {
    width: 90%;
    padding: 0;
  }
}

section {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  height: -moz-fit-content;
  height: fit-content;
}

h3 {
  color: #a94676;
  font-family: "Oxanium", sans-serif;
  font-size: 32px;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 730px) {
  h3 {
    font-size: 26px;
  }
}
@media (max-width: 525px) {
  h3 {
    font-size: 22px;
  }
}
h3.active::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #a94676;
  position: absolute;
  display: block;
  top: -8px;
  animation: topLine 0.8s ease-in-out 2 forwards;
}
@keyframes topLine {
  0% {
    transform: scaleX(0);
    transform-origin: right;
  }
  49% {
    transform: scaleX(1);
    transform-origin: right;
  }
  50% {
    transform-origin: left;
  }
  51% {
    transform: scaleX(1);
    transform-origin: left;
  }
  100% {
    transform: scaleX(0);
    transform-origin: left;
  }
}
h3.active::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #a94676;
  position: absolute;
  display: block;
  animation: botLine 0.8s ease-in-out 2 forwards;
}
@keyframes botLine {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  49% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50% {
    transform-origin: right;
  }
  51% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

h4 {
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  color: #b2bcff;
}

h5 {
  margin: 0;
  color: #71020c;
}

h6 {
  margin: 0;
  color: #a94676;
}

#presentation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 25px;
  padding: 50px 100px;
  position: relative;
  box-sizing: border-box;
}
@media (max-width: 1400px) {
  #presentation {
    padding: 30px 70px;
  }
}
@media (max-width: 1100px) {
  #presentation {
    gap: 30px;
  }
}
#presentation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../theds3.JPG");
  background-size: cover;
  background-position: 0 100%;
  background-repeat: no-repeat;
  filter: brightness(0.5); /* Filtre uniquement pour le pseudo-élément */
  border-radius: 25px;
  box-shadow: 0px 0px 15px 3px rgba(113, 2, 12, 0.2);
}
#presentation::after {
  content: "";
  background-color: #a94676;
  width: 40%;
  height: 2px;
  position: absolute;
  bottom: -50px;
  left: 30%;
  box-shadow: 2px 2px 10px 0 rgba(113, 2, 12, 0.5);
  border-radius: 5px;
}
@media (max-width: 1100px) {
  #presentation {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 600px) {
  #presentation {
    padding: 30px 15px;
  }
}
#presentation h3 {
  position: relative;
  margin-bottom: 50px;
  z-index: 10;
}
@media (max-width: 1100px) {
  #presentation h3 {
    margin: 25px 0 25px 0;
  }
}
#presentation h3 #testo {
  position: absolute;
  width: 220%;
  left: -100%;
  height: 180%;
  top: -50%;
  z-index: -10;
  background-color: white;
  border-radius: 0 25px 25px 0;
  box-shadow: 40px 5px 15px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1100px) {
  #presentation h3 #testo {
    border-radius: 25px;
    left: -100%;
    width: 300%;
  }
}
#presentation #presentation-core {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 6%;
       column-gap: 6%;
  position: relative;
  padding: 50px 50px;
  width: 100%;
}
@media (max-width: 1100px) {
  #presentation #presentation-core {
    -moz-column-gap: 0;
         column-gap: 0;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
  }
}
@media (max-width: 760px) {
  #presentation #presentation-core {
    padding-bottom: 10px;
  }
}
#presentation #presentation-core img {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 10px 10px 10px 3px rgba(113, 2, 12, 0.1);
}
@media (max-width: 1100px) {
  #presentation #presentation-core img {
    width: 170px;
    height: 170px;
    margin-bottom: 30px;
  }
}
@media (max-width: 750px) {
  #presentation #presentation-core img {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 500px) {
  #presentation #presentation-core img {
    width: 120px;
    height: 120px;
  }
}
#presentation #presentation-core #pres-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
#presentation #presentation-core #pres-text h4 {
  text-shadow: 4px 5px 3px rgba(113, 2, 12, 0.1);
  font-size: 2.5rem;
}
#presentation #presentation-core #pres-text h4 strong {
  font-style: italic;
}
@media (max-width: 1600px) {
  #presentation #presentation-core #pres-text h4 {
    font-size: 32px;
  }
}
@media (max-width: 1420px) {
  #presentation #presentation-core #pres-text h4 {
    font-size: 26px;
  }
}
@media (max-width: 1100px) {
  #presentation #presentation-core #pres-text h4 {
    text-align: center;
    font-size: 24px;
  }
}
#presentation #presentation-core #pres-text p {
  position: relative;
  flex-wrap: wrap;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 10%;
  box-sizing: border-box;
  color: #b2bcff;
  text-shadow: 3px 3px 0 rgba(169, 70, 118, 0.2);
  text-align: end;
  font-size: 18px;
  border-radius: 25px;
  padding: 20px;
}
#presentation #presentation-core #pres-text p::before {
  content: "";
  background-color: #a94676;
  width: 5px;
  height: 65%;
  position: absolute;
  right: -3%;
  bottom: -10%;
  box-shadow: 3px 3px 10px 0 rgba(178, 188, 255, 0.2);
  border-radius: 5px;
}
#presentation #presentation-core #pres-text p::after {
  content: "";
  background-color: #a94676;
  width: 65%;
  height: 5px;
  position: absolute;
  right: -3%;
  bottom: -10%;
  box-shadow: 3px 3px 10px 0 rgba(178, 188, 255, 0.2);
  border-radius: 5px;
}
@media (max-width: 1100px) {
  #presentation #presentation-core #pres-text p {
    height: 100%;
    width: 450px;
  }
  #presentation #presentation-core #pres-text p::before {
    content: "";
    display: none;
  }
  #presentation #presentation-core #pres-text p::after {
    content: "";
    display: none;
  }
}
@media (max-width: 1100px) {
  #presentation #presentation-core #pres-text p {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 760px) {
  #presentation #presentation-core #pres-text p {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  #presentation #presentation-core #pres-text p {
    width: 100%;
  }
}
#presentation svg {
  margin: auto;
}/*# sourceMappingURL=presentation.css.map */