* {
  font-family: "Kanit", sans-serif;
}

body {
  margin: auto;
  width: 100%;
}

main {
  width: 70%;
  margin: auto;
}
@media (max-width: 1200px) {
  main {
    width: 80%;
    padding: 0;
  }
}

section {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  height: -moz-fit-content;
  height: fit-content;
}

h3 {
  color: #a94676;
  font-family: "Oxanium", sans-serif;
  font-size: 32px;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 730px) {
  h3 {
    font-size: 26px;
  }
}
@media (max-width: 525px) {
  h3 {
    font-size: 22px;
  }
}
h3.active::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #a94676;
  position: absolute;
  display: block;
  top: -8px;
  animation: topLine 0.8s ease-in-out infinite;
}
@keyframes topLine {
  0% {
    transform: scaleX(0);
    transform-origin: right;
  }
  49% {
    transform: scaleX(1);
    transform-origin: right;
  }
  50% {
    transform-origin: left;
  }
  51% {
    transform: scaleX(1);
    transform-origin: left;
  }
  100% {
    transform: scaleX(0);
    transform-origin: left;
  }
}
h3.active::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #a94676;
  position: absolute;
  display: block;
  animation: botLine 0.8s ease-in-out infinite;
}
@keyframes botLine {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  49% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50% {
    transform-origin: right;
  }
  51% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

h4 {
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  color: #b2bcff;
}

h5 {
  margin: 0;
  color: #71020c;
}

h6 {
  margin: 0;
  color: #a94676;
}

#presentation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 1100px) {
  #presentation {
    flex-direction: column;
    align-items: center;
  }
}
#presentation h3 {
  margin: 50px 0 0 0;
}
@media (max-width: 1100px) {
  #presentation h3 {
    margin: 25px 0 25px 0;
  }
}
#presentation #presentation-core {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 6%;
       column-gap: 6%;
  position: relative;
  padding-bottom: 100px;
  width: 100%;
}
@media (max-width: 1100px) {
  #presentation #presentation-core {
    -moz-column-gap: 0;
         column-gap: 0;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
}
@media (max-width: 760px) {
  #presentation #presentation-core {
    -moz-column-gap: 0;
         column-gap: 0;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }
}
#presentation #presentation-core::after {
  content: "";
  background-color: #a94676;
  width: 40%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: 30%;
  box-shadow: 2px 2px 10px 0 rgba(169, 70, 118, 0.5);
  border-radius: 5px;
}
#presentation #presentation-core img {
  width: -moz-fit-content;
  width: fit-content;
  height: 300px;
}
@media (max-width: 1100px) {
  #presentation #presentation-core img {
    width: -moz-fit-content;
    width: fit-content;
    height: 150px;
  }
}
#presentation #presentation-core p {
  position: relative;
  flex-wrap: wrap;
  width: 70%;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 10%;
  box-sizing: border-box;
  color: #71020c;
  text-align: center;
  text-align: end;
}
#presentation #presentation-core p::before {
  content: "";
  background-color: #b2bcff;
  width: 5px;
  height: 65%;
  position: absolute;
  right: -3%;
  bottom: -10%;
  box-shadow: 3px 3px 10px 0 rgba(113, 2, 12, 0.2);
  border-radius: 5px;
}
#presentation #presentation-core p::after {
  content: "";
  background-color: #b2bcff;
  width: 65%;
  height: 5px;
  position: absolute;
  right: -3%;
  bottom: -10%;
  box-shadow: 3px 3px 10px 0 rgba(113, 2, 12, 0.2);
  border-radius: 5px;
}
@media (max-width: 1100px) {
  #presentation #presentation-core p {
    padding-left: 0;
    height: 100%;
    width: 450px;
  }
  #presentation #presentation-core p::before {
    content: "";
    display: none;
  }
  #presentation #presentation-core p::after {
    content: "";
    display: none;
  }
}
@media (max-width: 1000px) {
  #presentation #presentation-core p {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 760px) {
  #presentation #presentation-core p {
    font-size: 14px;
  }
}
#presentation svg {
  margin: auto;
}/*# sourceMappingURL=presentation.css.map */