@import '../index';

.project {
	& #bg {
		display: none;
	}
	@include Card;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 2%;
	&:hover {
		cursor: pointer;
		transform: scale(1.05);
		background-color: $blue;
		transition: 0.2s ease-in-out;
		box-shadow: 3px 3px 10px 0 rgba($color: #000000, $alpha: 0.4);
		& ul {
			display: none;
		}
	}
	&:not(:hover) {
		transition: 0.2s ease-in-out;
	}
	& h4 {
		color: $blue;
	}
	& .img-container {
		background-color: white;
		width: 100%;
		box-sizing: border-box;
		height: 80%;
		border-radius: 5px;
		border: 3px solid $blue;
		& img {
			border-radius: 5px;
			width: 100%;
			height: fit-content;
			max-height: 100%;
			object-fit: contain;
		}
	}

	& ul {
		display: flex;
	}
}
