@import '../index';

.project {
	& #bg {
		display: none;
	}
	@include Card;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2%;
	&:hover {
		cursor: pointer;
		transform: scale(1.05);
		background-color: $blue;
		transition: 0.2s ease-in-out;
		box-shadow: 3px 3px 10px 0 rgba($color: $venetian-red, $alpha: 0.4);
		color: $venetian-red;
		& h4 {
			color: $contrast-red;
			text-shadow: 0;
		}
		& ul {
			animation: closeList 0.2s ease-in-out forwards;
		}
		& li {
			animation: closeList 0.2s ease-in-out forwards;
		}

		@keyframes closeList {
			0% {
			}
			99% {
				height: 0;
			}
			100% {
				display: none;
			}
		}

		& h5 {
			animation: showText 0.15s ease 1s forwards;
		}
		@keyframes showText {
			from {
			}
			to {
				opacity: 1;
			}
		}
	}
	&:not(:hover) {
		transition: 0.2s ease-in-out;
	}
	& h4 {
		color: $blue;
		text-shadow: 3px 3px 10px rgba($color: $contrast-red, $alpha: 1);
		font-size: 24px;
	}
	& h5 {
		opacity: 0;
		color: $contrast-red;
		font-size: 16px;
		margin-top: 15px;
		text-shadow: 3px 3px 10px rgba($color: $venetian-red, $alpha: 0.2);
	}
	& .img-container {
		background-color: white;
		width: 100%;
		box-sizing: border-box;
		height: 80%;
		border-radius: 5px;
		border: 3px solid $blue;
		& img {
			border-radius: 5px;
			width: 100%;
			height: fit-content;
			max-height: 100%;
			object-fit: contain;
		}
	}

	& ul {
		display: flex;
		justify-content: start;
		align-items: start;
		width: 100%;
		gap: 35px;
		padding-left: 0;

		& li {
			list-style: none;
			background-color: $blue;
			color: $contrast-red;
			padding: 0px 10px;
			border-radius: 5px;
			height: 24px;
			overflow: hidden;
			border: 1px solid $venetian-red;
		}
	}
}
