@import '../index';

.project {
	& #bg {
		display: none;
	}
	border-radius: 15px;
	background-color: $venetian-red;
	box-shadow: 3px 3px 10px 0 rgba($color: #000000, $alpha: 0.2);
	padding: 30px;
	box-sizing: border-box;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2%;
	position: relative;
	@media (max-width: 1100px) {
		gap: 10px;
		padding-top: 20px;
	}
	@media (max-width: 600px) {
		padding: 15px;
		padding-top: 10px;
	}
	&:hover {
		cursor: pointer;
		transform: scale(1.05);
		background-color: $blue;
		transition: 0.2s ease-in-out;
		box-shadow: 3px 3px 10px 0 rgba($color: $venetian-red, $alpha: 0.4);
		color: $venetian-red;
		& h4 {
			color: $contrast-red;
			text-shadow: 0;
		}
		& .img-container {
			border: 3px solid $venetian-red;
		}
	}
	&:not(:hover) {
		transition: 0.2s ease-in-out;
	}
	& h4 {
		color: $blue;
		text-shadow: 3px 3px 10px rgba($color: $contrast-red, $alpha: 1);
		font-size: 24px;
		@media (max-width: 420px) {
			font-size: 18px;
		}
	}
	& .img-container {
		background-color: white;
		width: 100%;
		box-sizing: border-box;
		height: 300px;
		border-radius: 5px;
		border: 3px solid $blue;
		@media (max-width: 1100px) {
			height: 250px;
		}
		@media (max-width: 800px) {
			height: 200px;
		}
		@media (max-width: 600px) {
			height: 150px;
		}
		@media (max-width: 500px) {
			height: 150px;
		}

		& img {
			border-radius: 5px;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	& ul {
		display: flex;
		justify-content: start;
		align-items: start;
		width: 100%;
		height: fit-content;
		gap: 35px;
		padding: 0;
		box-sizing: border-box;
		position: relative;
		transition: transform 0.2s ease-in-out;
		flex-wrap: wrap;
		@media (max-width: 420px) {
			gap: 10px;
			margin: 0;
		}
		& li {
			list-style: none;
			background-color: $blue;
			color: $contrast-red;
			padding: 0px 10px;
			border-radius: 5px;
			height: 24px;
			border: 2px solid $venetian-red;
			box-shadow: 5px 5px 10px 3px rgba($color: $venetian-red, $alpha: 0.2);

			@media (max-width: 420px) {
				padding: 0px 5px;
				font-size: 14px;
				height: fit-content;
			}
		}
	}
	& i.fa-eye {
		position: absolute;
		right: 10%;
		bottom: 10%;
	}
	& i.fa-right-long {
		position: absolute;
		right: 5%;
		bottom: 10%;
	}
}
