@import '../index';

#skills {
	display: grid;
	grid-template-columns: 30% 64%;
	grid-template-rows: 14% 86%;
	column-gap: 6%;
	padding-top: 50px;
	margin-top: 30px;
	& h3 {
		grid-area: 1 / 1 / 2 / 2;
		height: 100%;
		margin: auto 0;
	}
	.category {
		@include Card;
		display: grid;
		grid-template-columns: 64% 30%;
		grid-template-rows: 10% 90%;
		column-gap: 6%;
		width: fit-content;
		margin: auto;
		height: 100%;
		width: 100%;

		&#commercial {
			grid-area: 2 / 1 / 3 / 2;
			grid-template-columns: 100%;
		}

		&#code {
			grid-area: 1 / 2 / 3 / 3;
		}

		& h4 {
			grid-column: 1/3;
			grid-row: 1/2;
			&::after {
				content: '';
				width: 0;
				height: 2px;
				display: block;
				background-color: $venetian-red;
			}
		}

		& .skillblock {
			padding: 30px 0 0 0;
			border: 15px solid rgba($color: $blue, $alpha: 1);
			box-shadow: 1px 1px 10px 3px rgba($color: #000000, $alpha: 0.02);
			background-color: white;
			border-radius: 10px;
			box-sizing: border-box;
			margin: 0;

			&#relational {
				width: 100%;
			}

			&#frontend {
				display: grid;
				grid-template-columns: 33.3% 33.3% 33.3%;
				grid-template-rows: 150px 150px 150px;
			}
			&#backend {
				display: grid;
				grid-template-columns: 100%;
				grid-template-rows: 150px 150px 150px;
			}
			& .element {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				position: relative;

				& .graph {
					width: 150px;
					height: 150px;
				}
			}
		}
	}
}
