@import '../index';
main {
	padding: 2em;
	& img {
		width: 100px;
		height: 100px;
	}
}

.homepage {
	& header {
		& nav {
			&:hover #menu {
				background-color: white;
				z-index: 10;
				width: 22%;
				box-sizing: border-box;
				border-radius: 25px;
				box-shadow: 0px 10px 15px 3px rgba($color: $contrast-red, $alpha: 0.2);
				@media (max-width: 1500px) {
					width: 25%;
				}
				@media (max-width: 1300px) {
					width: 30%;
				}
				@media (max-width: 1100px) {
					width: 35%;
				}
				@media (max-width: 900px) {
					width: 40%;
				}
				@media (max-width: 750px) {
					width: 50%;
				}
				@media (max-width: 650px) {
					width: 60%;
				}
				@media (max-width: 550px) {
					width: 65%;
				}
				@media (max-width: 500px) {
					width: 70%;
				}
				@media (max-width: 470px) {
					width: 80%;
				}
				@media (max-width: 400px) {
					width: 90%;
				}
			}
		}
	}
}
