$venetian-red: #71020c;
$contrast-red: #a94676;
$blue: #b2bcff;
$first-font: 'Oxanium', sans-serif;
$second-font: 'Kanit', sans-serif;

* {
	font-family: $second-font;
}

body {
	margin: auto;
	width: 80%;
}
main {
	width: 80%;
	margin: auto;
}
section {
	margin: auto;
	width: 100%;
	box-sizing: border-box;
	height: fit-content;
}

h3 {
	color: $contrast-red;
	font-family: $first-font;
	font-size: 32px;
	height: fit-content;
	position: relative;
	width: fit-content;
	&.active::before {
		content: '';
		width: 100%;
		height: 2px;
		background-color: $contrast-red;
		position: absolute;
		display: block;
		top: -8px;
		animation: topLine 0.8s ease-in-out infinite;
		@keyframes topLine {
			0% {
				transform: scaleX(0);
				transform-origin: right;
			}
			49% {
				transform: scaleX(1);
				transform-origin: right;
			}
			50% {
				transform-origin: left;
			}
			51% {
				transform: scaleX(1);
				transform-origin: left;
			}
			100% {
				transform: scaleX(0);
				transform-origin: left;
			}
		}
	}

	&.active::after {
		content: '';
		width: 100%;
		height: 2px;
		background-color: $contrast-red;
		position: absolute;
		display: block;
		animation: botLine 0.8s ease-in-out infinite;
		@keyframes botLine {
			0% {
				transform: scaleX(0);
				transform-origin: left;
			}
			49% {
				transform: scaleX(1);
				transform-origin: left;
			}
			50% {
				transform-origin: right;
			}
			51% {
				transform: scaleX(1);
				transform-origin: right;
			}
			100% {
				transform: scaleX(0);
				transform-origin: right;
			}
		}
	}
}

h4 {
	margin: 0;
	width: fit-content;
	color: $blue;
}

h5 {
	margin: 0;
	color: $venetian-red;
}

h6 {
	margin: 0;
	color: #a94676;
}
